.create-thread {
    border: 2px solid brown;
    padding: 10px;
}

.new-thread {
    padding: 20px;
}

.mt-30 {
    margin-top: -20px;
}

.thread-input {
    margin-left: 12%;
    width: 70%;
    height: 25px;
}

.thread-select {
    width: 30%;
    margin-left: 6%;
    margin-top: 20px;
    height: 25px;
}

.thread-textarea {
    margin: 20px 0 0 10px;
    width: 69%;
    height: 100px;
}

.btn {
    float: inline-end;
    margin: 20px 5px 0 5px;
    border: 2rem;
}

#contentInside {
    width: max-content;
    margin: 7px;
    display: inline-flex;
    border-radius: 10px;
}