.details {
    padding: 10px;
    border: 2px solid black;
}

::ng-deep .mat-mdc-card {
    margin: 16px;
}

.pd-30 {
    padding-right: 25%;
}

#contentInside {
    width: 98%;
    margin: 7px;
    display: inline-flex;
    border-radius: 10px;
}

.thread {
    padding: 15px 20px 20px 20px;
    display: inline;
}

.float {
    margin-left: 30%;
    display: inline-flex;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.pb-20 {
    padding: 20px;
}

.existing-thread {
    border: 2px solid black;
    margin: 16px;
    border-radius: 5px;
    padding-top: 16px;
    float: left;
}