.details {
    padding: 10px;
    border: 2px solid black;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

::ng-deep .mat-mdc-card {
    margin: 16px;
}

.pd-30 {
    padding-right: 25%;
}



.thread {
    padding: 15px 20px 20px 20px;
    display: inline;
}

.float {
    margin-left: 30%;
    display: inline-flex;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.pb-20 {
    padding: 20px;
}

.existing-thread {
    border: 2px solid black;
    margin: 16px;
    border-radius: 5px;
    padding-top: 16px;
    float: left;
    width:-webkit-fill-available;
}

.logout-btn {
    margin-left: auto;
    margin-right: 45px;
}

/*sidenav starts*/
.example-container {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
  }
  
  .example-events {
    width: 500px;
  height: 300px;
    overflow: auto;
    border: 1px solid #555;
  }
/*sidenav ends*/  

.mat-drawer-container {
    height: -webkit-fill-available !important;
}