<mat-card class="details">
    <div class="pb-20">
        <span class="pd-30">Employee Name: {{loggedInUserName}} </span>
        <span class="pd-30"> Open Thread Count: {{openThreadCount}}</span>
        <button mat-raised-button color="primary" (click)="openNewThread()">New Thread</button>
    </div>
    <div id="contentInside" *ngFor="let container of containers">
        <span class="thread">Thread {{container+1}}-</span>
        <span class="float">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Comment Count: {{commentCount}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Comments by user</li>
                        <li>Comments by user</li>
                        <li>Comments by user</li>
                        <li>Comments by user</li>
                        <li>Comments by user</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </span>
    </div>
</mat-card>
<app-create-thread></app-create-thread>