<section style="background-color: #e7effd;">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-7">
        <div class="d-flex flex-start mb-4">
          <div class="card w-100">
            <div class="card-body p-4">
              <div *ngFor="let comment of comments">
                <div>
                  <p>                   
                    {{comment.comment}}                    
                  </p>

                  <div class="d-flex justify-content-between align-items-center">
                    Date: {{comment.commentedDate | date:'dd-mm-yyyy'}}
                    <div class="d-flex align-items-center">
                      
                      <a href="#!" class="link-muted me-2" (click)="likeDislike(comment.id,1)"><i class="bi bi-hand-thumbs-up"></i></a>&nbsp;{{comment.noOfLikes}}
                      <!-- <a href="#!" class="link-muted"  (click)="likeDislike(comment.id,0)"><i class="bi bi-hand-thumbs-down"></i>15</a> -->
                    </div>
                    <!-- <a href="#!" class="link-muted"><i class="bi bi-reply"></i> Reply</a> -->
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>