    <div id="contentInside" >
    
        <form [formGroup]="addCommentForm">
            <div class="main-div">
                <mat-card class="create-thread ">
                    <div class="new-thread">                       
                        <span>Comment:</span><textarea rows="4" cols="50" class="thread-textarea" formControlName="description" required></textarea><br />
                        
                        <button mat-raised-button color="tertiary" class="btn" mat-dialog-close>Cancel</button>
                            <button mat-raised-button color="primary" class="btn" [disabled]="!addCommentForm.valid"
                            (click)="onSubmit()"> Submit</button>
                          
                    </div>
                </mat-card>
            </div> 
            </form>
        </div>