<div class="container">
    <div class="main-div">
        <mat-card class="login-card">
            <mat-card-content class="login-title">Login Form!!</mat-card-content>
            <form [formGroup]="loginForm">

                <div class="email">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email"
                            [ngClass]="{'is-invalid':(f['email'].touched || f['email'].dirty) && f['email'].errors}">
                    </mat-form-field><br>
                    <div *ngIf="(f['email'].touched || f['email'].dirty) && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                    </div>
                </div>

                <div class="name">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <mat-label>Name</mat-label>
                        <input matInput type="name" formControlName="name"
                            [ngClass]="{'is-invalid':(f['name'].touched || f['name'].dirty) && f['name'].errors}">
                    </mat-form-field><br>
                    <div *ngIf="(f['name'].touched || f['name'].dirty) && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required</div>
                    </div>
                </div>

                <div class="password">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password"
                            [ngClass]="{'is-invalid':(f['password'].touched || f['password'].dirty) && f['password'].errors}">
                    </mat-form-field><br>
                    <div *ngIf="(f['password'].touched || f['password'].dirty) && f['password'].errors"
                        class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                    </div>
                </div>

                <div class="error-msg">
                    <p>{{invalidUserMsg}}</p>
                </div>

                <button mat-raised-button color="primary" class="submit-btn" [disabled]="!loginForm.valid"
                    (click)="onSubmit()">Submit</button><br>
            </form>
        </mat-card>
    </div>
</div>