<div class="category" >
    <ngx-charts-bar-vertical 
    [view]="[1000,300]"
    [results]="leadData"
    [xAxisLabel]="'Lead'"
    [legendTitle]="'Lead Chart'"
    [yAxisLabel]="'Lead Count'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical>
</div>
<div>
    <ngx-charts-bar-horizontal-stacked
  [view]="[1000,300]"
  [results]="votingData"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Voting'"
  [yAxisLabel]="'Lead'"
  (select)="onSelect($event)">
</ngx-charts-bar-horizontal-stacked>
</div>
